@charset "UTF-8";

/* Configuração geral */

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: #1526a7;
    background-size: contain;
    background-repeat: no-repeat;

}

h1{
    color: white;
    text-shadow: 3px 3px 0px #0d165ab9;
    padding: 10px;
}