@charset "UTF-8";

*{
   font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right, #A6BC09, #CCEA8D) ;
}
main{
   background-color: white;
   border-radius: 20px;
   box-shadow: 10px 10px 10px #01425b91;
   width: 600px;
   padding: 10px;
   margin: auto; 
}
h1{
color: #005148;
text-align: center;
text-shadow: 1px 1px 2px #01415B;
}
h2{
color: #019587;
}
p{
    text-align: justify;
}